<div class="block">
    {{list data.list as item}}
    <div class="{{item._opened?'item opened':'item'}}">
        <div class="{{ item._actived?'head active':'head' }}">
            {{if item.list.length>0}}
            <div class="arrow" onclick="{{ toggle(item) }}"><i class=":pmk-play_arrow"></i></div>
            {{else}}
            <div class="noarrow"></div>
            {{/if}}
            <div class="icon"><i class="{{ item._icon }}"></i></div>
            <div class="name" onclick="{{ active(item) }}">{{ item.name }}</div>
            {{if item.btns&&item.btns.length>0}}
            <div class="btns">
                {{list item.btns as btn}}
                <div class="btn" onclick="{{ action(btn,item) }}"><i class="{{ btn.icon }}"></i>
                    <div class="tip">{{ btn.title }}</div>
                </div>
                {{/list}}
            </div>
            {{/if}}
        </div>
        <div class="body">
            <@self @data="{{ {list:item.list,icons:data.icons} }}"/>
        </div>
    </div>
    {{/list}}
</div>