.communicate {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .section {
    height: 50%;
    position: relative;

    .title {
      line-height: 40px;
      padding: 0 10px 0 10px;
    }

    .content {
      position: absolute;
      left: 0;
      top: 40px;
      right: 0;
      bottom: 0;
    }
  }
}