.communicate {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .list {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50%;
  }

  .container {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
  }
}