.timetravel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .bar {
    padding: 20px 10px 20px 10px;
    position: relative;
    input {
      width: 100%;
      box-sizing: border-box;
    }
    .num {
      position: absolute;
      top: 0px;
      right: 0;
      padding: 0 10px 0 10px;
      line-height: 20px;
      background:white;
      border: 1px solid #555555;
      border-radius: 5px;
    }
  }
  .todo {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}