{{if data.list.length>0}}
    {{list data.list as item}}
    <div class="item" uid="{{ item.id }}">
        <div class="checkbox" onclick="{{ check(item) }}">
            {{if item.check}}
            <i class=":pmk-check_box"></i>
            {{else}}
            <i class=":pmk-check_box_outline_blank"></i>
            {{/if}}
        </div>
        <div class="title">{{ item.title }}</div>
        <div class="remove" onclick="{{ remove(item) }}"><i class=":pmk-close"></i></div>
    </div>
    {{/list}}
{{else}}
<div class="noitems">
    <div class="icon"><i class=":pmk-date_range"></i></div>
    <div class="desc">no records</div>
</div>
{{/if}}